/* universal selector  */

* {
    background-color: azure;
}



/* tag selector  */

h1 {
    color: darkgray;
    background-color: black;
}

h2 {
    color: mediumslateblue;
    background-color: blue;
}

/* class selector  */

.heading {
    color: azure;
    background-color: aquamarine;
}


/* id selector */

#middle{
    color: brown;
}